<div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
	<div class="searchContainer" ng-controller="SearchController as search">
		<h3>Search</h3>
		<input type="search" placeholder="search for a stock to buy!" ng-model="search.symbol"></input>
		<a ng-click="search.findStock()">SEARCH</a>
	</div>
	<div class="bankContainer">
		<h3>Your bank amount:</h3>
		<p>{{ portfolio.bank | currency:"USD $"}}</p>
	</div>
	<h3 class="yourStockHeader">Your Stocks</h3>
	<ul class="nav" ng-show="portfolio.stocks.length == 0">
		<li><a href="#">You have no stocks!</a></li>
	</ul>
	<ul class="nav" ng-show="portfolio.stocks.length > 0">
		<li ng-repeat="stock in portfolio.stocks">
			<a href="#" ng-click="portfolio.clicked(stock.name)">{{ stock.name }} @{{ stock.price | currency }}</a>
		</li>
	</ul>
</div>
