html,
body {
	min-height: 100%;
	height: 100%;
}

.full-height {
	height: 100%;
}

.inline {
	display: inline;
}

.no-bottom-margin {
	margin-bottom: 0;
}

.padding {
	padding: 0 40px;
}

#sidebar {
	height: 100%;
	padding: 20px 0 0 0;
	background-color: #d9e6fc;
}

#sidebar li {
	/*border: 0 #6c737e solid;
	border-bottom-width: 1px;*/
	padding: 3px 0 0 5px;
}

#sidebar .nav {
	width: 95%;
}

.searchContainer,
.bankContainer{
	padding: 0 0 10px 20px;
	-webkit-box-shadow: -1px 2px 2px 0px rgba(130,130,130,1);
	-moz-box-shadow: -1px 2px 2px 0px rgba(130,130,130,1);
	box-shadow: -1px 2px 2px 0px rgba(130,130,130,1);
}

.searchContainer input{
	width: 65%;
	padding-left: 5px;
}

.nav > li > a{
	padding: 5px 15px 0px 15px;
}
